
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Satisfy&family=Spicy+Rice&display=swap');
@import "tailwindcss";

@theme{
  --font-caveat: "Caveat", cursive;
  --font-dancing: "Dancing Script", cursive;
  --font-satisfy: "Satisfy", cursive;
  --font-spicy: "Spicy Rice", serif;
  --color-secondary: #B95C50;
  --color-primary:#FEDFE3;
  --color-white: #FFFFFF;
  --color-brown: #965A00;
  --color-tertiary:#D49494;
  --color-outline: #DEB3AD;
}


/* *{
    margin: 0;
    padding: 0;
} */

.guest-name::after{
  content: "";
  display: block;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

.light {
  position: absolute;
  top: 0;
  width: 600px;
  height: 100px;
  z-index: 1;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  /* background: transparent; */
}
.btn:hover .light{
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.389) 0%,
    /* Bright white center */ rgba(245, 245, 245, 0.427) 40%,
    /* Soft glowing white */ rgba(230, 230, 230, 0.167) 70%,
    /* Smooth fading */ rgba(210, 210, 210, 0.168) 90%,
    rgba(255, 255, 255, 0) 100% /* Natural fade-out */
  );
  filter: blur(12px); /* Enhances the soft glow effect */
  opacity: 0.85;
  transition:
    background 0.7s ease-in-out,
    opacity 0.3s ease-in-out;
}